.grid-square {
    aspect-ratio: 1;
    cursor: crosshair;
    border: 1px black solid;
    box-sizing: border-box;
}

#grid-container {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    border: 1px black solid;
    box-shadow: 5px 5px 10px gray;
}